.products-wrapper {
  display: flex;

  .products-list {
    mat-card {
      margin-top: 8px;
      max-height: 800px;
      overflow-y: scroll;
    }
    flex-grow: 1;
  }
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  margin-top: 24px !important;
}

.toolbar-button {
  margin-right: 8px;
}

.add-products {
  mat-card-content {
    margin-top: 16px;
  }
}

.product-search-actions {
  display: flex;
  justify-content: center;

  * {
    flex-grow: 1;
  }
}
